body {
    background-image: url('https://cdn.discordapp.com/attachments/1130168671671693422/1130242105441263708/Capture_decran_2022-11-22_210941.png');
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    position: relative;
}

.card {
    background-color: #fff;
    position: fixed;
    border-radius: 5px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.top-left {
    background: linear-gradient(-45deg, rgba(83, 54, 7, 0.497) 0, rgba(83, 54, 7, 0.497) 100%);
    box-shadow: 0 0 12px #cf8917;
    color: hsla(31, 100%, 72%, 0.721);
    top: 20px;
    left: 20px;
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.outils-carte {
    background: linear-gradient(-45deg, rgba(83, 54, 7, 0.597) 0, rgba(83, 54, 7, 0.597) 100%);
    box-shadow: 0 0 14px #cf8917;
    color: hsla(200, 100%, 90%, .9);
    top: 20px;
    left: 50%;
    display: flex;
    position: relative;
    font-size: 25px;
    justify-content: center;
    transform: translateX(-50%);
    width: 700px;
    height: 140px;
    word-wrap: break-word;
    /* ou overflow-wrap: break-word */
}

.new-carte {
    background: linear-gradient(-45deg, rgba(83, 54, 7, 0.497) 0, rgba(83, 54, 7, 0.497) 100%);
    box-shadow: 0 0 12px #cf8917;
    top: 20px;
    right: 20px;
    width: 250px;
    height: 500px;
    text-align: center;
}

.card.bottom-left .buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    /* Espacement horizontal entre les boutons */
    flex-wrap: wrap;
    /* Permet aux boutons de passer à la ligne si nécessaire */
    top: 50%;
    /* Modifier la valeur du top pour centrer verticalement */
    transform: translateY(-5%);
    /* Ajouter cette transformation pour centrer verticalement */
    left: 20px;
    right: 20px;
    /* Répartir sur toute la largeur de la carte */
}


.card.bottom-left .buttons a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.card.bottom-left .buttons a svg {
    width: 40px;
    /* Taille du SVG */
    height: 40px;
    /* Taille du SVG */
}

.card.bottom-left .buttons a span {
    font-size: 12px;
    /* Taille du texte en dessous du bouton */
    margin-top: 5px;
    /* Espacement entre le bouton et le texte */
}


.bottom-center {
    background: linear-gradient(-45deg, rgba(83, 54, 7, 0.497) 0, rgba(83, 54, 7, 0.497) 100%);
    box-shadow: 0 0 12px #cf8917;
    color: hsla(200, 100%, 90%, .9);
    bottom: 194px;
    left: 9.5%;
    transform: translateX(-50%);
    width: 250px;
    height: 100px;
}

.buttons a {
    /* ... Autres styles ... */
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, .5);
    text-align: center;
    color: hsla(200, 90%, 90%, .8);
    border-radius: 10px;
    background: rgba(0, 0, 0, .3);
    fill: currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 35px;
    /* Espacement entre les boutons */
    flex: 1;
    /* Utiliser une flexibilité égale pour répartir sur toute la largeur */
    width: 140px;
    height: 80px;
    /* Hauteur des boutons carrés */
}

.card.bottom-left .buttons .dcsvg {
    width: 50px;
    height: 50px;
}

.card.bottom-left .buttons .svgspotify {
    width: 50px;
    height: 50px;
}



.buttons a svg {
    /* ... Styles du SVG ... */
    width: 40px;
    /* Taille du SVG */
    height: 40px;
    /* Taille du SVG */
}

.buttons a span {
    font-size: 12px;
    /* Taille du texte en dessous du bouton */
    margin-top: 5px;
    /* Espacement entre le bouton et le texte */
}


.buttons a:hover {
    background-color: #006912c4;
}


.card.bottom-left {
    background: linear-gradient(-45deg, rgba(83, 54, 7, 0.497) 0, rgba(83, 54, 7, 0.497) 100%);
    box-shadow: 0 0 12px #cf8917;
    color: hsla(200, 100%, 90%, .9);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 800px;
    height: 110px;
}

.card.bottom-left .buttons {
    margin-top: 20px;
}


.close-button {
    position: absolute;
    top: 25px;
    right: 20px;
    background: none;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #7c4b0c9c;
    box-shadow: 0 0 20px #7c4b0c9c;
    font-size: 18.5px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.custom-button {
    background-color: rgba(83, 54, 7, 0.301);
    border: 2px solid;
    border-color: rgba(124, 81, 12, 0.986) rgba(255, 255, 0, 0) rgba(255, 255, 0, 0) rgba(255, 255, 0, 0);
    color: #fff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    width: 252px;
    height: 55px;
    font-size: 18px;
    left: 20px;
    border-radius: 0px 0px 12px 12px;
}


.ring {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: rgb(219, 96, 2);
    box-shadow: 0 0 20px rgba(219, 96, 2, 0.8);
    animation: pulsate 2s ease-in-out infinite;
    z-index: -1;
    /* Valeur du z-index inférieure à celle de .tab-content */
}

/* CSS pour l'effet lumineux */
@keyframes pulsate {
    0% {
        box-shadow: 0 0 40px rgba(219, 96, 2, 0.8), 0 0 0 rgba(219, 96, 2, 0.8);
    }

    50% {
        box-shadow: 0 0 40px rgba(219, 96, 2, 0.8), 0 0 40px rgba(219, 96, 2, 0.3);
    }

    100% {
        box-shadow: 0 0 40px rgba(219, 96, 2, 0.8), 0 0 0 rgba(219, 96, 2, 0.8);
    }
}


.card.mega {
    /* ... Autres styles ... */
    text-align: center;
}

.button-container {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.mega-button1 {
    top: 0%;
    /* Place le texte au milieu de la hauteur de la carte */
    left: -3%;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, .5);
    width: 100px;
    height: 50px;
    margin: 8%;
    margin-bottom: 20px;
    padding: 1vh 0;
    font-size: 20px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.8);
    border-radius: 10px;
    background: rgba(0, 0, 0, .3);
    fill: currentColor;
}

.mega-button1:hover {
    background-color: #00000085;
    box-shadow: 0 0 10px #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    font-size: 21px;
}

.mega-button2 {
    top: 0%;
    /* Place le texte au milieu de la hauteur de la carte */
    left: 20%;
    display: inline-block;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, .5);
    width: 100px;
    height: 50px;
    margin: 8%;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 1vh 0;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.8);
    border-radius: 10px;
    background: rgba(0, 0, 0, .3);
    fill: currentColor;
}

.mega-button2:hover {
    background-color: #00000085;
    box-shadow: 0 0 10px #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    font-size: 21px;
}

.mega-button3 {
    top: 0%;
    /* Place le texte au milieu de la hauteur de la carte */
    left: 45%;
    display: inline-block;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, .5);
    width: 100px;
    height: 50px;
    margin: 8%;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 1vh 0;
    text-align: center;
    color: hsla(210, 100%, 100%, 0.8);
    border-radius: 10px;
    background: rgba(0, 0, 0, .3);
    fill: currentColor;
}

.mega-button3:hover {
    background-color: #00000085;
    box-shadow: 0 0 10px #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    font-size: 21px;
}

.mega-button4 {
    top: 0%;
    /* Place le texte au milieu de la hauteur de la carte */
    left: 70%;
    display: inline-block;
    position: absolute;
    border: 2px solid rgba(0, 0, 0, .5);
    width: 100px;
    height: 50px;
    margin: 8%;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 1vh 0;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.8);
    border-radius: 10px;
    background: rgba(0, 0, 0, .3);
    fill: currentColor;
}

.mega-button4:hover {
    background-color: #00000085;
    box-shadow: 0 0 10px #ffffff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    font-size: 21px;
}

.window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 66.66%;
    height: 100%;
    background-color: rgba(138, 78, 10, 0.995);
    border: 1px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 9999;
    /* Valeur du z-index pour afficher au-dessus de l'anneau central */
}

::-webkit-scrollbar {
    width: 12px;
    background: linear-gradient(rgb(207, 137, 23), rgb(207, 137, 23), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255), rgb(207, 137, 23), rgb(207, 137, 23));
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: radial-gradient(rgb(100, 55, 0), rgb(100, 55, 0));
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: radial-gradient(rgb(110, 55, 0), rgb(110, 55, 0))
        /* Couleur de la poignée au survol */
}

html {
    scrollbar-width: large;
}


.chat-card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    max-height: 300px;
    /* Limite de hauteur pour la carte */
    overflow-y: auto;
    /* Barre de défilement */
}

.message {
    background-color: #4caf50;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    word-wrap: break-word;
    /* Gestion des mots longs */
}


.chat-card {
    width: 300px;
    height: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.chat-box {
    height: 370px;
    width: 220px;
    padding: 10px;
    overflow-y: scroll;
}

.message {
    background-color: #000000bd;
    border: 3px solid rgb(255, 128, 24);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 0 0 4px rgba(255, 128, 24, 0.8);
}

.message h3 {
    color: #af4701e5;
    margin: 0;
}

.message h4 {
    color: #e65603;
    margin: 5px 0;
}

.message p {
    color: #ff9843e5;
    margin: 5px 0;
}


.nebuleuse-titre {
    color: #cf8917;
    font-size: 35px;
    text-shadow: 0 0 5px rgba(207, 137, 23, 0.8);
    text-decoration: underline;
}

.nebuleuse-text {
    color: #ffbf8a;
    margin: 10px;
    text-shadow: 0 0 2px #ffbf8a;
}

.titre-nouvelle {
    color: #cf8917;
    font-size: 35px;
    text-shadow: 0 0 5px rgba(207, 137, 23, 0.8);
    text-decoration: underline;
}

.titre-outils {
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #cf8917;
    font-size: 35px;
    text-shadow: 0 0 5px rgba(207, 137, 23, 0.8);
    text-decoration: underline;
}