@font-face {
    font-family: 'ethnocentric';
    src: url('ethnocentric\ rg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    text-align: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('img/bg.png') no-repeat center center/cover;
    z-index: -2;
    filter: blur(3px);
    transform: scale(1.1);
}

body::after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

header {
    padding: 45px 0;
}

.top-right-text {
    position: absolute;
    top: 2px;
    right: 10px;
    color: rgb(207, 137, 23);
    font-size: 14px;
    text-align: center;
    text-shadow: 0px 0px 6px rgba(207, 137, 23, 1);
}

@keyframes breathe {

    0%,
    100% {
        text-shadow: 0 0 -0.5px rgba(83, 0, 134, 0.8),
            0 0 20px rgba(83, 0, 134, 0.8),
            0 0 30px rgba(83, 0, 134, 0.8);
    }

    50% {
        text-shadow: 0 0 0.5px rgba(83, 0, 134, 0.9),
            0 0 30px rgba(83, 0, 134, 0.9),
            0 0 40px rgba(83, 0, 134, 1);
    }
}


h1 {
    font-size: 40px;
    font-family: 'ethnocentric', sans-serif;
    position: relative;
    margin-bottom: 15px;
    animation: breathe 7s infinite;
    color: rgb(83, 0, 134);
    /* violet */
}

h1::after {
    content: "";
    display: block;
    width: 320px;
    height: 1px;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    background-color: #ffffff;
    margin: 10px auto;
}

section {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: visible;
    justify-content: center;
    animation: bounceIn 1s ease-out;
}

@keyframes bounceIn {

    from,
    20%,
    40%,
    60%,
    80%,
    to {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }

    40%,
    60% {
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -20px, 0);
    }

    20% {
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -10px, 0);
    }

    80% {
        transition-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        transform: translate3d(0, -5px, 0);
    }

    to {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, 0, 0);
    }
}

.carte {
    background-color: rgba(255, 255, 255, 0.07);
    width: calc(23% - 2%);
    margin: 1.5%;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.8);
    border-radius: 30px 10px 30px 10px;
    overflow: hidden;
    margin-bottom: 40px;
    transform-origin: center center;
    transition: transform 0.3s ease, z-index 0s;
    opacity: 0;
    color: #ffffff;
    will-change: transform;
    position: relative;
}

.carte.animated {
    opacity: 1;
}

.carte.animated.animate__fadeInUp {
    animation-name: fadeInUp;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carte:hover {
    z-index: 10;
    transform: scale(1.07);
}

.carte img {
    width: 100%;
    height: 190px;
    object-fit: cover;
    margin: -10px;
    opacity: 0;
    animation: fadeInImage 1.5s ease-out forwards;
}

@keyframes fadeInImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.9;
    }
}

.carte-content {
    padding: 15px;
    position: relative;
    text-decoration: none !important;
}

.carte-content a {
    text-decoration: none !important;
    color: #ffffff;
}

.carte-content h2 {
    font-size: 25px;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 10px;
}

.carte-content p a {
    text-decoration: none !important;
}

.carte-content p {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 0;
}
